* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
body {
  background: url('./assets/pexels-maxyne-barcel-10402282\ 1.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  color : #ffc233

}
.container {
  background: rgb(34 39 80 / 60%);
  padding: 0 5%;
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar {
  display: flex;
  flex-direction: row;
  height: 20vh;
  align-items: center;
  justify-content: space-between;
}

.navbar img {   
  height: 40px;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.button-small {
  border: none;
  padding: 7px 30px;
  color: #fff;
  background-color: #e74d3b;
}


/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero {
  height: 80vh;
  text-align: center;
}
.bottom-logo img{
  width: 10%;
  position: absolute;
  bottom: 0;
  right: 5%;
}
.hero-heading {
  font-size: 8vw;
  line-height: 1;
}

.button-large {
  border: none;
  padding: 15px 40px;
  color: #fff;
  background-color: #dc2e2f;
  margin: 30px 0;
  font-size: 18px;
}


/* responsive css */
@media (max-width: 768px) {
  .list {
    display: none;
  }
}
